[run]
omit =
    */tests/*
    */types/notion_types.py
    */__init__.py

[report]
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    raise NotImplementedError
    raise ImportError
    if 0:
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = htmlcov
